<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Post by <%= data.account.display_name %></title>

        <meta property="description" content="<%= data.content %>
        <% if (data.poll) { %><% data.poll.options.forEach(function(option) { %>
[ ] <%= option.title %> (<%= option.votes_count %> votes)<% }) %><% } %>" />
        
        <meta property="og:title" content="Post by <%= data.account.display_name %>" />
        <meta property="og:description" content="<%= data.content %>
        <% if (data.poll) { %><% data.poll.options.forEach(function(option) { %>
[ ] <%= option.title %> (<%= option.votes_count %> votes)<% }) %><% } %>" />
        <meta property="og:image" content="https://screenshot.jamesg.blog/?url=<%= data.url %>" />
        <meta property="article:author" content="<%= data.account.username %>" />

        <link rel="icon" href="https://mf2.link/logo.png" type="image/x-icon" />

        <link rel="stylesheet" href="/styles.css">

        <link rel="canonical" href="<%= data.url %>" />
    </head>
    <body>
        <main class="h-entry">
            <% if (reply) { %>
                <p class="in-reply-to">In reply to a post from <a href="<%= reply.url %>" class="u-in-reply-to"><%= reply.account.display_name %></a></p>
            <% } %>
            <div class="author p-author h-card">
                <img src="<%= data.account.avatar %>" alt="<%= data.account.display_name %>'s profile picture" height="50" width="50" class="u-photo">
                <div class="author-name">
                    <h2 class="p-name"><%= data.account.display_name %></h2>
                    <p class="p-nickname"><a href="<%= data.account.url %>" class="u-url"><%= data.account.username %></a></p>
                </div>
            </div>
            <blockquote>
                <span class="e-content"><%- data.content %></span>
                <% if (data.poll) { %>
                    <div class="poll">
                        <ul class="poll-answers">
                            <% data.poll.options.forEach(function(option) { %>
                                <li class="poll-answer">
                                    <p><%= option.title %> (<%= option.votes_count %> votes)</p>
                                    <progress value="<%= option.votes_count %>" max="<%= data.poll.votes_count %>"></progress>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                <% if (data.media_attachments.length > 0) { %>
                    <div class="media-attachments">
                        <% data.media_attachments.forEach(function(media) { %>
                            <% if (media.type == 'image') { %>
                                <img src="<%= media.preview_url %>" alt="<%= media.description %>" class="u-photo">
                            <% } else if (media.type == 'video') { %>
                                <video src="<%= media.preview_url %>" alt="<%= media.description %>" class="u-video"></video>
                            <% } else if (media.type == 'gifv') { %>
                                <video src="<%= media.preview_url %>" alt="<%= media.description %>" class="u-video"></video>
                            <% } else if (media.type == 'audio') { %>
                                <audio src="<%= media.preview_url %>" alt="<%= media.description %>" class="u-audio"></audio>
                            <% } else if (media.type == 'unknown') { %>
                                <a href="<%= media.preview_url %>" class="u-unknown"><%= media.description %></a>
                            <% } %>
                        <% }) %>
                    </div>
                <% } %>
                <% if (data.card) { %>
                    <a href="<%= data.card.url %>" class="embed-url">
                        <div class="external-embed">
                            <div class="text-card">
                                <p class="title"><%= data.card.title %></p>
                                <p class="description"><%= data.card.description %></p>
                            </div>
                        </div>
                    </a>
                <% } %>
            </blockquote>
            <a href="<%= data.url %>" class="permalink u-url u-uid"><time class="dt-published datelink" datetime="<%= data.created_at %>"><%= data.created_at %></time></a>
            <div class="post-actions">
                <a href="<%= data.url %>">❤️ <%= data.favourites_count %> likes</a>
                <a href="<%= data.url %>">🔄 <%= data.reblogs_count %> reposts</a>
                <a href="<%= data.url %>">💬 <%= data.replies_count %> replies</a>
            </div>
        </main>
    </body>
</html>
